<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SQL Query Visualizer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
  <style>
  </style>
</head>


<header>
	<p>SQL Query Visualizer</p>
</header>
<div class="query-input-div">
	<textarea id="queryInput" placeholder="Write your query here!"></textarea>
	<button class="query-button" onclick="sendQuery()">Query</button>
</div>

<div id="cy" class="query-display-div"></div>

<script>
	cytoscape({
		container: document.getElementById('cy'),
		elements: [],
		style: [{ selector: 'node',style:{'label':'data(label)'}}],
		layout: {name: 'grid'}
	});
</script>



<script>

	async function sendQuery() {

		
		//console.log("hello")
		const query = document.getElementById("queryInput").value;
		const test = await fetch("/query",{
		method: "POST",
		headers: { "Content_type": "application/json"},
		body: JSON.stringify({query: query})
		});
		const data = await test.json();
		//console.log(data)
		const tables = data.tables;
		//console.log(tables)
		const cytoTables = tables.map((table,idx) => ({
			data:{ id: `n${idx}`, label: table.name}
		}));
		cytoscape({
			container: document.getElementById('cy'),
			elements: [...cytoTables],
			style: [{ selector: 'node',style:{'label':'data(label)'}}],
			layout: {name: 'grid'}
		});
	}	

</script>
